
/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{
	margin:0;
 padding:0;}

/* HTML ELEMENTS */
body{
	background-color:#1b2940;
	font:62.5% Georgia,'Times New Roman',serif;
	letter-spacing:1; }

/* COMMON CLASSES */
.break { clear:both; }

/* HEADER */
#header {
	background-image: url('http://www.gwm-eg.com/Images/overlays/patterns/lines-1.png');
	margin: -40px 0px 0px 0px;
	height:600px;
	width: 100%;
	}

.twitter_logo{
	width: 75px;
	float: left;
}


#logo{
	height: 100px;
	float: left;
}

/* LOGIN BOX*/

.login_box{
	font-size: 15px;
	text-align: center;
	width: 500px;
	height: 300px;
	margin-top: 150px;
	margin-right: 50px;
	float: right;
	background-image:url("../img/textbg.png");
	/*background-color: #7EA8E0;*/
	/*background-color: #364861;*/
	border: 3px solid #7EA8E0;
}

.signin_header{
	margin-left: -10px;
}

/* FOOTER*/

#footer{
	height: 50px;
	width: 100%;
	bottom: 0px;
	font-size: 15px;
	text-align: center;
	background-image:url("../img/textbg.png");
	/*background-color: #7EA8E0364861;*/
	border-top: 3px solid #7EA8E0;
	position: absolute;
}